body {
    font-family: Arial;
    text-align: center;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

h1, h2 {
    color: white;
}

.search-box {
    margin: 20px;
}

input {
    padding: 12px;
    width: 230px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

button {
    padding: 12px 18px;
    background-color: #1976d2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
}

button:hover {
    background-color: #0d47a1;
}

.weather-card {
    background-color: #1e1e1e;
    color: white;
    width: 320px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.2);
}

.weather-card img {
    width: 90px;
}

.forecast-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.forecast-card {
    background-color: #1e1e1e;
    color: white;
    margin: 10px;
    padding: 15px;
    border-radius: 12px;
    width: 130px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.15);
}

.forecast-card img {
    width: 60px;
}

@media (max-width: 600px) {

    input {
        width: 90%;
        margin-bottom: 10px;
    }

    button {
        width: 90%;
    }

    .weather-card {
        width: 85%;
    }

    .forecast-card {
        width: 80%;
    }
}
